<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-lg-offset-1">
        <a href="{{ '/blog/' | relative_url }}">
          <img src="{{ '/assets/images/logo.png' | relative_url }}" alt="lab2023" class="logo pull-right">
        </a>
      </div>
      <div class="col-lg-8">
        <h1>
          <a href="{{ '/blog/' | relative_url }}">lab2023's blog posts</a>
          <a href="{{ '/feed.xml' | relative_url }}" target="_blank">
            <i class="fa fa-rss"></i>
          </a>
        </h1>
        <div class="row">
          <div class="col-lg-3">
            <p>
              <a href="{{ '/' | relative_url }}">
                <i class="fa fa-arrow-circle-left"></i>
                lab2023.com
              </a>
            </p>
          </div>
          <div class="col-lg-9" id="language_linked">
            <p>
              <a href="{{ '/tag/tr/' | relative_url }}">Türkçe</a>
              ·
              <a href="{{ '/tag/en/' | relative_url }}">English</a>
              ·
              <a href="{{ '/tag/es/' | relative_url }}">Español</a>
              ·
              <a href="{{ '/tag/ru/' | relative_url }}">Русский</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
