<!-- Javascripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ '/assets/js/swiper-bundle.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/retina-1.1.0.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/skrollr.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.typer.js' | relative_url }}"></script>
<script src="{{ '/assets/js/carousel.js' | relative_url }}"></script>
<script src="{{ '/assets/js/application.js' | relative_url }}"></script>

{% include trackers.html %}
