/ Javascripts
= yield_content :foot

= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js',
                        '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js',
                        'application'

= partial 'layouts/partials/trackers'