%section
  .row
    .col-lg-9.col-lg-offset-3
      %h1.tags-title
        Articles tagged
        %strong '#{tagname}'
  - page_articles.each do |article|
    %article.posts.row
      .col-lg-2.col-lg-offset-1
        %span.pull-right= article.date.strftime('%B %e, %Y')

      .col-lg-8

        %h1= link_to article.title, article

